<section class="phx-hero">
  <h1>🛰 Stratosflower 🛰</h1>
  <p>We are an instrumental rock band from San Francisco.</p>
  <p>You can support us by listening to our music, coming to our shows, and buying our merch.</p>
</section>
